/*! project specific CSS goes here. */
/* General --------------------------------------------------------------*/
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


div .nav.navbar-header{
    vertical-align: top;
    left: 50%;
    margin-left: -100px;
}
div .nav.navbar-header a{
    padding: 2px 10px 0px;
    border-bottom: 1px solid transparent;
}

div .navbar-nav.left{
    right: 79%;
    margin-top: -6px;
}
div .navbar-nav.left:hover{
    right: 79%;
    margin-top: -6px;
}

div .navbar-nav.right{
    right: 0;
    margin-left: 100px;
    background-color: rgb(255,255,255);
}

div .navbar-nav >li > a{
    color: rgb(157, 156, 156);
    padding-top: 15px;
    padding-bottom: 14px;
    font-family: "PalatinoLTStd-Roman";
    font-size: 9.16pt;
}

div.menu .navbar-nav>li.active>a,
div.menu .navbar-nav>li>a:hover,
div.menu .navbar-nav>li.active>a:hover
div.menu .navbar-nav>li:hover
div.menu .navbar-nav>li:active {
    background: rgb(222,27,115);
    color: rgb(255,255,255);
}

div.menu .navbar-nav>li.logos.active>a,
div.menu .navbar-nav>li.logos>a:hover,
div.menu .navbar-nav>li.logos.active>a:hover
div.menu .navbar-nav>li.logos:hover
div.menu .navbar-nav>li.logos:active {
    background: rgb(255,255,255);
    color: rgb(255,255,255);
}

div .logos {
    background-color: rgb(255,255,255);
}

li.logos a:hover {
    background-color: rgb(255,255,255);
}

div .logos a{
    color: rgb(157, 156, 156);
    background-color: rgb(255,255,255);
    padding-right: 8px;
    padding-left: 8px;
}

.span-inline {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 14px;
}

.my-icon-bar {
    background-color: rgb(222,27,115);
}

.image {
    display: block;
}



.image.image-fb-logo:hover{
    background-position: -193px -24px;
}


.image.image-googlep-logo:hover{
    background-position: -247px -24px;
}



.image.image-youtube-logo:hover{
    background-position: -276px -24px;
}

/* -------------------------------------------------------------- */
/* user-section ------------------------------------------------- */

.user-section {
    position: fixed;
    top: 53px;
    right: 40px;
    width: 230px;
    z-index: 4;
}

.user-info {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.user-info > div {
    margin-top: 10px;
    margin-bottom: 15px;
}

.user-photo img {
    width: 77px;
    height: 87px;
}

.user-info-details {
    font-family: "NeoSansStd-Light";
    color: rgb(144, 144, 144);
}

.user-info-details > div {
    height: 15px;
}
.user-line-md {
    font-size: 15pt;
    line-height: 15px;
}

.user-line-sm {
    font-size: 10pt;
    line-height: 10px;
}

.booking-check {
    height: 25px;
}

.booking-check a {
    font-family: "NeoSansStd-Light";
    font-size: 11pt;
    color: rgb(255, 255, 255);
    background-color: rgb(128, 128, 128);
    width: 100%;
    border-radius: 25px;
}

.logout-btn {
    height: 25px;
}
.logout-btn a {
    font-family: "NeoSansStd-Light";
    font-size: 11pt;
    color: rgb(255, 255, 255);
    background: rgb(218,36,115);
    width: 100%;
    border-radius: 25px;
}

.user-btn {
    position: relative;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 35px;
    padding-left: 0px;
    padding-right: 0px;
}

.user-updown-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}



.user-pink-btn-caption {
    font-family: "NeoSansStd-Light";
    color: rgb(255, 255, 255);
    font-size: 14pt;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
}

.user-name {
    cursor: pointer;
}

.log-and-sign-btn {
    width: 49%;
    cursor: pointer;
}

.log-and-sign-btn.log-btn {
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
}

.log-and-sign-btn.sign-btn {
    float: right;
}

.modal-dialog {
    max-width: 370px;
    min-width: 250px;
}

.modal-open {
    /*overflow: auto;*/
}

.modal-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 35px;
    background-color: rgb(242, 239, 232);
}

.modal-body {
    padding: 0;
}

.user-form-photo {
    width: 112px;
    height: 120px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 30px;
}

.user-form-header {
    color: rgb(143, 143, 143);
}
/* -------------------------------------------------------------- */
/* carousel ----------------------------------------------------- */

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
}

.carousel.slide,
.carousel .item,
.carousel .carousel-inner {
    height: 100%;
}

.carousel-caption {
    background-color: transparent;
    bottom: auto;
    width: 40%;
    left: 10%;
    z-index: 1;
}

.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: rgb(0,0,0);
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

.carousel-container {
  width: 100%;
  margin-top: 53px;
}

.carousel-indicators {
    width: 15px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 127%;
    margin-top:-42.5px;
    z-index: 10;
}



.scroll-btn {
    cursor: pointer;
}



.animation-1 {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}






.my-btn {
    color: rgb(255,255,255);
    background-color: rgb(222,27,115);

}

.btn-font {
    font-family: "NeoSansStd-Light";
    font-size: 17pt;
    color: rgb(255,255,255);
}

.btn-round {
    border-radius: 15px;
}

.btn-square {
    border-radius: 0px;
}

.my-btn-book {
    width: 168px;
    height: 43px;
    padding: 4px 12px;
}




.about-header .icon-bar {
    background-color: rgb(236, 236, 236);
}

.about-navbar-collapse {
    padding: 0;
    max-height: 100%;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
}

.about-header {
    height: 70px;
    vertical-align: middle;
    display: none;
}

.about-header button {
    z-index: 10;
    margin-bottom: auto;
    margin-top: auto;
    height: 100%;
    text-align: left;
}

.collapse-show {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.collapse-show a {
    color: rgb(236, 236, 236);
    text-decoration: none;
}

.about-menu {
    background: rgb(50, 51, 51);
    width: 100%;
    z-index: 4;
}

.about-menu.affix-top {
    position: absolute;
    bottom: 0;
}

.about-menu.affix {
    position: fixed;
    top: 53px;
}

.nav.nav-tabs.nav-justified > li > a {
    border: 0;
    border-radius: 0;
    color: rgb(236, 236, 236);
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
    /*padding-top: auto;
    padding-bottom: auto;*/
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    border-left: 1px solid rgb(26, 26, 26);
}

.about-menu li.active-menu,
.nav-tabs.nav-justified > li:hover,
.nav-tabs.nav-justified > li > a:hover {
    background-color: rgb(221, 36, 115);
    border-color: rgb(221, 36, 115);
}

.article-margin-top {
    margin-top: 70px;
}

#about-content article {
    padding-bottom: 20px;
}

.service-imgs .col-sm-4 {
    padding: 0;
    height: 100%;
}

.article-title {
    text-transform: uppercase;
    border: none;
    font-size: 26.98pt;
    font-family: "BebasNeue";
}

.upper-case {
    text-transform: uppercase;
}

.about-navbar-font {
    font-family: "BebasNeue";
    text-transform: uppercase;
}

.about-navbar-font-line-1 {
    font-size: 22.16pt;
    line-height: 27px;
    vertical-align: middle;
}

.about-navbar-font-line-2 {
    font-size: 18pt;
    line-height: 21px;
    vertical-align: middle;
}

.gray-title {
    color: rgb(77, 77, 77);
}

.gray-content {
    color: rgb(144, 129, 128);
}


.center {
    text-align: center;
}

.columns-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
}

.escucha-co {
    font-family: "PalatinoLTStd-Medium";
    color: rgb(0,0,0);
}

.ampersand-co {
    font-family: "PalatinoLTStd-Medium";
    color: rgb(222,27,115);
}

.services-img-container {
    position: relative;
}

.service-imgs {
    width: 100%;
    position: relative;
    height: 100%;
}

.service-imgs > div {
    position: relative;
}

.service-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.frame-anim {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.frame-anim-caption {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
}


.service-anim-1-1 {
    transition: all 2s;
    opacity: 1;
}
.service-anim-1-1-go {
    opacity: 0;
}
.service-anim-1-2 {
    transition: all 2s;
    opacity: 0;
}
.service-anim-1-2-go {
    opacity: 1;
}
.service-anim-1-3 {
    transition: all 3s;
    opacity: 0;
}
.service-anim-1-3-go {
    opacity: 1;
}
.service-anim-1-4 {
    transition: all 2s;
    right: 0;
    width: 100%;
}
.service-anim-1-4-go {
    right: 20%;
    width: 120%;
}


.service-anim-2-1 {
    transition: all 2s;
    bottom: 9%;
}
.service-anim-2-1-go {
    bottom: 0;
}
.service-anim-2-2 {
    transition: all 2s;
    top: 9%;
}
.service-anim-2-2-go {
    top: 0;
}
.service-anim-2-3 {
    transition: all 2s;
    opacity: 0;
    bottom: 9%;
}
.service-anim-2-3-go {
    opacity: 1;
    bottom: 0;
}


.service-anim-3-1 {
    transition: all 2s;
    opacity: 1;
}
.service-anim-3-1-go {
    opacity: 0;
}
.service-anim-3-2 {
    transition: all 2s;
    bottom: -5%;
}
.service-anim-3-2-go {
    bottom: 0;
}
.service-anim-3-3 {
    transition: all 2s;
    opacity: 0;
    z-index: 0;
}
.service-anim-3-3-go {
    opacity: 1;
    z-index: 1;
}

.bold-emphasis {
    font-weight: bold;
}

.none-list-style {
    list-style: none;
}

.gray-zone {
    background-color: rgb(224, 224, 224);
}

.animation-captions {
    max-width: 940px;
}

.animation-caption {
    visibility: hidden;
    text-align: center;
    width: 20%;
    /*text-align: left;*/
    float: left;
    display: inline-block;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "PalatinoLTStd-Roman";
    font-size: 12pt;
}

.animation-caption.full {
    visibility: visible;
}

.progress-bar-anim {
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 846px;
}

.progress-bar-anim img {
    max-width: 891px;
    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
}

.progress-bar-anim > .progress-bg {
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    z-index: 0;
}
.progress-bar-anim > .progress-front {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    overflow: hidden;
}

/* footer form portion -----------------------------*/
.pre-footer-zone {
    background-color: rgb(51, 51, 51);
}

.pre-footer-zone .gray-title {
    color: rgb(147, 147, 147);
}

.pre-footer-zone .form-group {
    width: 88%;
    float: right;
    padding-right: 20px;
}

.footer-btn-wrapper
{
    width: 88%;
    float:right;
}
.footer-form-contact-wrapper
{
    width:100%;
}
.footer-form-container
{
    width:60%;
    float: left;
}

.footer-contact-info-container
{
    width: 40%;
    float: left;
    border-left: 1px solid rgb(102, 102, 102);
}

.footer-contact-info
{
    list-style:none;
}

.footer-contact-info li a
{
    font-family: "PalatinoLTStd-Light";
    font-size: 12.90pt;
    color: rgb(102, 102, 102);
}

.footer-contact-info li a:hover
{
    text-decoration:none;
}

/*------------------------------------------------------*/

.input-group {
    margin-bottom: 5px;
    width: 35%;
}

.input-group .form-control:last-child,
.input-group .form-control:first-child {
    border-radius: 25px;
}
.input-group .checkbox,
.input-group .form-control {
    border: 1px solid rgb(173, 173, 173);
    text-align: left;
    font-family: "NeoSansStd-Light";
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid rgb(150, 150, 150);
}


.user-form-btns {
    margin-top: 15px;
}

.input-group .checkbox,
.user-form-btns .btn-font {
    font-size: 14px;
}

.btn:focus,
.btn:active:focus {
    outline-style: none;
}

.user-form-btns .btn {
    width: 8%;
}

.input-group .checkbox {
    border: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.btn-accept {
    background-color: rgb(78, 140, 222);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
}

.btn-cancel {
    background-color: rgb(222, 46, 56);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
}

.pre-footer-zone .form-control {
    font-family:"PalatinoLTStd-Roman";
    font-size: 12.89pt;
    height: 40px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    color: rgb(26, 26, 26);
    border-radius:24px;
    border-style:none;
}

.btn-submit {
    height: 40px;
    border: 0;
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    width: 100%;
    background-color: rgb(26, 26, 26);
    min-height: 30px;
    font-family: "PalatinoLTStd-Light";
    font-size: 11.91pt;
    color: rgb(102, 102, 102);
}

footer a {
    line-height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    color: rgb(102, 102, 102);
}
footer a:hover {
    color: rgb(221, 36, 115);
    text-decoration: none;

}

.footer-display
{
    display: flex;
    display: inline-flex;
}

.footer-logos
{
    margin-top: 5px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    line-height: 30px;
}

.footer-logos-image
{
    margin-top: 5px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    line-height: 30px;
}

.about-menu li.active,
.about-menu li.active a,
.about-menu li.active a:hover,
.about-menu li.active a:focus {
    background-color: rgb(221, 36, 115);
    color: rgb(255, 255, 255);
}

.article-menu-tab {
    padding-top: 20px;
    background-color: rgb(224, 224, 224);
    color: rgb(51, 51, 51);
    width: 100%;
}

#affix-separator-div {
    height: 123px;
}

/* Contact ----------------------------------------------------------------- */

.carousel-bg-color
{
    background: rgb(233,233,233);
}

.carousel-header
{
    font-family: "BebasNeue";
    font-size: 27.89pt;
    color: rgb(77,77,77);
    font-weight: lighter;
    width: 100%;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-top: 50px;
}
.carousel-sub-header
{
    font-family: "PalatinoLTStd-Italic";
    font-size: 12.52pt;
    color: rgb(128,128,128);
    font-weight: lighter;
    width: 100%;
    margin-bottom: 15px;
}

.contact-dialog-grals
{
    font-size: 11.95pt;
    font-family: "NeoSansStd-Light";
    color: rgb(128,128,128);
    text-align: left;
    padding-bottom: 30px;
}

.contact-dialog-grals .my-col-2 {
    width: 49%;
}

.contact-dialog-grals .my-col-2:first-child {
    margin-right: 2%;
}
.contact-dialog
{
    background-color: rgb(255,255,255);
    border-color: rgb(128,128,128);
    border: 4px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.contact-dialog:focus
{
    box-shadow: none;
    border: 0;
}

.contact-dialog.cdsmall
{
    width: 49%;
    height: 30px;
}

.contact-dialog.gap
{
    margin-right: 1.5%;
}

.contact-dialog.cdlarge
{
    height: 30px;
    width: 100%;
}

.contact-dialog.cdtextarea
{
    width: 100%;
}

.contact-btn
{
    float: right;
    height: 44px;
}

.contact-dialog-grals .btn {
    width: 120px;
}

/* --------------------------------------------------------------------- */

/* Booking Form -------------------------------------------------------- */

.booking-form {
    height: 100%;
}

.booking-form .form-group {
    background-color: rgb(255, 255,255);
    margin: 5px;
}

.booking-form .calendar {
    width: 49%;
    height: 100%;
    float: left;
}

.reserve-col-2 {
    width: 49%;
    float: left;
    height: 100%;
}

.reserve-col-2 .form-group {
    width: 100%;
}

.form-section-header {
    font-family: "BebasNeue";
    font-size: 22pt;
    color: rgb(144, 144, 144);
    text-transform: uppercase;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

.payment {
    height: 64%;
    position: relative;
}

.payment .price {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
    text-align: right;
}

.price .price-val {
    text-transform: uppercase;
    color: rgb(221, 36, 115);
    font-family: "BebasNeue";
    font-size: 22pt;
}

.schedules {
    height: 34%;
}

.booking-form .payment .input-group {
    padding-left: 30px;
    padding-right: 30px;
}
.booking-form .payment .input-group.first {
    margin-top: 3%;
}
.booking-form .payment .input-group.last {
    padding-bottom: 23px;
}


.calendar .input-group {
    width: 100%;
    padding-bottom: 38px;
}

.calendar .checkbox {
    float: left;
    /*margin-right: 10px;*/
    width: 33%;
}

.calendar .checkbox:last-child {
    float: right;
}

.checkbox-input input[type=checkbox]{
    visibility: hidden;
}

.checkbox-input {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    position: relative;
    float: left;
}

.checkbox-input label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    margin-top: -8px;
    background: #eee;
    border:1px solid #ddd;
}
.checkbox-input label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox-input label:hover::after {
    opacity: 0.5;
}
.checkbox-input input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.checkbox-input.pink label {
    background: rgb(221, 36, 115);
}

.checkbox-input.gray label {
    background: rgb(102, 102, 102);
}

.checkbox-input.white label {
    background: rgb(255, 255, 255);
}

/* --------------------------------------------------------------------- */

/* Combobox ------------------------------------------------------------ */

.schedules .input-group {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.custom-combo {
    text-align: left;
}

.schedules .input-group .custom-combo:first-child {
    width: 45%;
    float: left;
    margin-right: 10%;
}

.schedules .input-group .custom-combo:last-child {
    width: 45%;
    float: right;
}

.custom-dropdown {
    width: 100%;
}
.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
    width: 100%;
}

.custom-dropdown__select:focus {
    outline: none;
}

.custom-dropdown__select--white {
    background-color: #fff;
    /*color: #444;    */
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 34px;
    }

    .custom-dropdown__select {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 34px;
        padding-right: 34px; /* accommodate with the pseudo elements for the dropdown arrow */
        /*border: 1px;        */
        /*border-radius: 3px;*/
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: 1em;
        line-height: 1;
        right: 0.6em;
        top: 50%;
        margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        /*border-radius: 0 3px 3px 0;*/
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,0.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,0.1);
    }

    /* White dropdown style */
    .custom-dropdown--pink::before {
        /*top: .5em;
        bottom: .5em;*/
        background-color: rgb(221, 36, 115);
        width: 34px;
        /*border-left: 1px solid rgba(0,0,0,.1);*/
        /*border: 1px solid rgb(221, 36, 115);        */
    }

    .custom-dropdown--pink::after {
        color: rgb(255, 255, 255);

    }
}
/* --------------------------------------------------------------------- */

/* begin-booking-list

---------------------------------------

------------- */
.booking-wrapper
{
    overflow: auto;
    width: 100%;
}

.booking-post-container
{
    border-color: rgb(170,170,170);
    border-width: 1px;
    border-bottom-style: solid;
    background: rgb(255,255,255);
    width: 100%;
    float: left;
    /*margin-left: 22.01%;
    margin-right: 22.01%;*/
}

.booking-date-container
{
    background: rgb(195,195,195);
    float:left;
    font-family: "BebasNeue";
    color: rgb(77,77,77);
    width: 15%;
}

.booking-date-day
{
   font-size: 42pt;
   width: 100%;
   float: left;
}

.booking-date-week-day
{
    font-size: 11.32pt;
    width: 100%;
    float: left;
    margin-top: -20%;
    padding-bottom: 20%;
}

.booking-description-container
{
    font-family: "PalatinoLTStd-Roman";
    width: 70%;
    float: left;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking-tittle
{
    font-size: 14.85pt;
    color: rgb(218,36,115);
    text-align: left;
}

.booking-text
{
    font-size: 11.32pt;
    color: rgb(128,128,128);
    text-align: left;
}

.booking-price
{
    float: left;
    width: 15%;
    font-family: "BebasNeue";
    font-size: 22.44pt;
    color: rgb(77,77,77);
    padding-top: 28px;
    padding-bottom: 27px;
}

.booking-btn-container
{
    float: right;
    padding-top: 10px;
    width: 55.98%;
}

.booking-btns
{
    background: rgb(102,102,102);
    font-size: 13.78pt;
    height: 33px;
    width: 121px;
    padding-top: 3px;
}

.booking-btn-pink
{
    background: rgb(218,36,115);
}

.day.active {
    background: rgb(191, 6, 85) !important;
    color: rgb(255, 255, 255) !important;
}

.datepicker-mark-book {
    background: rgb(221, 36, 115) !important;
    color: rgb(255, 255, 255) !important;
}

.datepicker-mark-book:hover {
    background: rgb(201, 16, 95) !important;
    color: rgb(255, 255, 255) !important;
}

.datepicker-mark-unavailable {
    background: rgb(102, 102, 102) !important;
    color: rgb(255, 255, 255) !important;
}

/* end-booking

---------------------------------------

------------- */

/* beging-blog -----------------------------------------------*/
.blog-wrapper
{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.blog-column-fit
{
    float: left !important;
    padding-left: 0;
    padding-right: 0;
}

.blog-post-container
{
    border-color: rgb(170,170,170);
    border-width: 1px;
    border-bottom-style: solid;
    background: rgb(255,255,255);
    float:left;
    width: 100%;
    position: relative;
}

.blog-photo-container
{
    float:left;
    width: 30%;
}

.blog-photo
{
    max-width: 99%;
}
.blog-description-container
{
    font-family: "PalatinoLTStd-Roman";
    width: 70%;
    height: 100%;
    float: left;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 23px;
}

.blog-tittle
{
    font-size: 12.52pt;
    color: rgb(218,36,115);
}

.blog-text
{
    font-size: 9.39pt;
    color: rgb(128,128,128);
}

.blog-more
{
    color: rgb(218,36,115);
}

.blog-more:hover
{
    color: rgb(218,36,115);
}

/* full-view-blog ----------------------------------------------------*/
.blog-full-view-post
{
    width: 100%;
}

.blog-full-view-post-bg
{
    background: rgb(255,255,255);
    width: 90%;
}

.blog-full-view-photo
{
    max-width: 100%;
}

.blog-full-view-photo-container
{
    float:left;
    width: 15%;
    padding-top: 23px;
}

.blog-full-view-text-container
{
    font-family: "PalatinoLTStd-Roman";
    width: 80%;
    float: left;
    padding-top: 23px;
    padding-left: 22px;
}

.blog-full-view-tittle
{
    font-size: 20.52pt;
    color: rgb(218,36,115);
}

.blog-full-view-author
{
    font-size: 14.08pt;
    color: rgb(218,36,115);
}

.blog-full-view-text
{
    font-size: 9.39pt;
    color: rgb(128,128,128);
}

.blog-back-btn
{
    font-size: 10.07pt;
    float: right;
    background: rgb(233,233,233);
    color: rgb(128,128,128);
    border-color: rgb(128,128,128);
    border-style: solid;
    border-width: 1px;
    height: 26px;
    width: 121px;
    padding-top: 3px;
}

.blog-carousel-sub-header
{
    width: 70%;
    float: left;
}

.blog-back-btn-wrapper
{
    width: 93%;
    padding-bottom: 10px;
}

/* end-full-view-blog ------------------------------------------------*/

/* end-blog ---------------------------------------------------- */

/* begin-download ---------------------------------------------------- */
.download-wrapper
{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.download-post-container
{
    border-color: rgb(170,170,170);
    border-width: 1px;
    border-bottom-style: solid;
    background: rgb(255,255,255);
    min-height: 153px;
    padding-top: 23px;
    padding-right: 23px;
    padding-left: 23px;
    float: right;
    width: 84%;
    position: relative;
}


.download-description-container
{
    min-height: 100px;
    font-family: "PalatinoLTStd-Roman";
    position: relative;
}

.download-tittle
{
    font-size: 11.33pt;
    color: rgb(218,36,115);
}

.download-text
{
    font-size: 9.39pt;
    color: rgb(128,128,128);
}
.download-btn-container
{
    text-align: right;
    position: relative;
}
.download-btn
{
    font-size: 13.78pt;
    height: 35px;
    width: 121px;
    padding-top: 3px;
}

/* end-download ---------------------------------------------------- */

/* begin-booking ---------------------------------------------------- */
#booking-scroll-wrapper
{
    width: 100%;
    height: 70%;
    overflow: auto;
}

.booking-scroll-container
{
    height: 100%;
}

.booking-post-container
{
    border-color: rgb(170,170,170);
    border-width: 1px;
    border-bottom-style: solid;
    background: rgb(255,255,255);
    float:left;
}

.booking-date-container
{
    float:left;
}

.booking-date
{
    max-width: 20%;
    background: rgb(195,195,195);
    font-family: "BebasNeue";
    color: rgb(77,77,77);
}

.booking-date-day
{
   font-size: 40pt;
}

.booking-date-week-day
{
    font-size: 11.32pt;
}

.booking-description-container
{
    font-family: "PalatinoLTStd-Roman";
    max-width: 60%;
}

.booking-tittle
{
    font-size: 14.85pt;
    color: rgb(218,36,115);
}

.booking-text
{
    font-size: 11.32pt;
    color: rgb(128,128,128);
}

.booking-price
{
    /*max-width: 20%;*/
    font-family: "BebasNeue";
    font-size: 22.44pt;
    color: rgb(77,77,77);
}

.booking-btn-container
{
    float: right;
}

.booking-btns
{
    background: rgb(102,102,102);
}

.booking-btn:hover
{
    background: rgb(218,36,115);
}

.booking-datetime {

}

/* webkit */
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    margin-top: 17px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 34px;
    width: 17px;
    background: rgb(218,36,115);
    margin-top: -15px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
/*-------*/
/* moz */
input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
    margin-top: 5px;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 34px;
    width: 17px;
    background: rgb(218,36,115);
    border-radius: 2px;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
/* ----------- */
/* end-booking ---------------------------------------------------- */

.social-nw a,
.footer-display > div {
    display: inline-flex;
    float: right;
}

.social-nw {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.social-nw:last-child {
    margin-left: -8px;
}

/* escucha sello excelente y team setion*/
.quality-seal-wrapper
{
    width:100%;
    background:rgb(255,255,255);
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

.quality-seal-photo-wrapper
{
    width: 30%;
    float:left;
    position: relative;
}

.quality-seal-photo
{
    width: 100%;
    position: absolute;
    bottom: 0;
}


.quality-seal-content
{
    width: 70%;
    min-height: 660px;
    float: left;
    padding-top: 20px;
}

.escucha-sections-tittle
{
    font-family:"BebasNeue";
    font-size: 27.89pt;
    color:rgb(77,77,77);
}

.escucha-sections-text
{
    font-family: "PalatinoLTStd-Italic";
    font-size: 12.52pt;
    color: rgb(128, 128, 128);
}

/* servicios content*/

.services-content
{
    padding-top: 20px;
    padding-bottom: 20px;
}



.serv-visible
{
    visibility: visible;
}

/* end servicios*/

/*escucha&company section*/

#escucha-company,#servicios-escucha,#escucha-equipo,#escucha-sello-excelente
{
    padding-bottom: 0;
}

.escucha-company-container
{
    width:100%;
    background: rgb(255,255,255);
}

.escucha-company-book-btn
{
    height: 43px;
    width: 246px;
    font-size: 14.86pt;
}

.font-bold
{
    font-weight: bold;
}

.font-pink
{
    color: rgb(218,36,115);
}

.font-italic
{
    font-style: italic;
}

.promos-container
{
    width: 100%;
    background: rgb(233,233,233);
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
}

.promo-container
{
    width: 100%;
    min-height: 476px;
    position: relative;
}

.promo-container-company
{
    width: 100%;
    min-height: 400px;
    position: relative;
}

.border-styling
{
    border-top-style: solid;
    border-top-color: rgb(170,170,170);
}

.promo-img-container
{
    width: 25%;
    float: left;
}


.promo-text-container
{
    width: 60%;
    float: right;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    font-family: "PalatinoLTStd-Medium";
}

.promo-tittle
{
    color: rgb(218,36,115);
    font-size: 24.16pt;
    margin-bottom: 2%;
}

.promo-text p
{
    margin-bottom: 2%;
}

/*end escucha&company*/

/* psych-info-section ------------------------------------------------- */

.psych-section {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.psych-info {
    background-color: rgba(218,36,115, 0.7);
    width: 100%;
    font-family: "NeoSansStd-Light";
    color: rgb(255,255,255);
}

.psych-info > p:first-child {
    font-size: 10.17pt;
}

.psych-info a{
    font-size: 11.73pt;
    color: rgb(255,255,255);
}
.psych-name
{
    font-weight: bold;
    text-align: left;

}

.pink-background-transparent
{
    background-color: rgba(218,36,115, 0.7);
}

.psyco-pink-btn-caption {
    font-family: "NeoSansStd-Light";
    color: rgb(255, 255, 255);
    font-size: 17.21pt;
    line-height: 35px;
    vertical-align: middle;
    text-align: left;
    margin-left: 12px;
}

.psyco-btn {
    width: 100%;
    height: 35px;
    padding-left: 0px;
    padding-right: 0px;
}

.psyco-updown-btn {
    top: 0;
    margin-top: 5px;
}

/* -------------------------------------------------------------- */

/* Service-info-section ------------------------------------------------- */

.service-float-text-wrapper
{
    /*height: 100%;
    bottom: 0;*/
}

.service-section {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.service-info {
    background-color: rgba(218,36,115, 0.7);
    width: 100%;
    font-family: "PalatinoLTStd-Light";
    color: rgb(255,255,255);
    font-weight: lighter;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-info > p {
    font-size: 12.52pt;
    margin-left: 20px;
    margin-right: 20px;
}

.service-info > p:nth-child(2) {
    font-family: "PalatinoLTStd-Italic";
    /*font-weight: lighter;*/
    font-size: 14.08pt;
}

.service-info a{
    font-size: 12.52pt;
    color: rgb(255,255,255);
}
.service-name
{
    font-size: 20.34pt;
    text-align: left;
}

.service-btn
{
    padding-left: 20px;
    /*padding-bottom: 20px;*/
    padding-right: 20px;
}

.btn-know-wrapper
{
    padding-bottom: 20px;
}

.btn-know-more
{
    background-color: rgba(255,255,255,0);
    border-style: solid;
    border-color: rgb(255,255,255);
    border-width: 2px;
    width: 186px;
    font-size: 16pt;
}

.btn-know-more:hover
{
    background-color: rgb(218,36,115);
    color: rgb(255,255,255);
}

.img-collapsable-overlay {
    z-index: 2;
    /*background: blue;*/
    max-height: 100%;
}

/* -------------------------------------------------------------- */

/* Images Overlays */
.collapse-parent {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.collapse-triggers {
    width: 100%;
    position: relative;
}
.collapse-triggers-bar {
    height: 60px;
}
.collapse-triggers-font {
    font-family: "PalatinoLTStd-Medium";
    font-size: 23px;
    line-height: 60px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    text-align: left;
    cursor: pointer;
    padding-left: 20px;
}
.collapse-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.collapse-content {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.collapse-content > p:first-child {
    font-family: "PalatinoLTStd-Light";
    font-size: 15px;
}
.collapse-content > p:last-child {
    font-family: "PalatinoLTStd-Italic";
    font-size: 17px;
    font-weight: bold;
}
.services-img-container .row {
    margin-left: 0;
    margin-right: 0;
}
/* ---------------------------------------------------- */

/* Twitter Ribbon */
.twitter-ribbon {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 70px;
    z-index: 3;
    overflow: hidden;
}
.twitter-ribbon > div:first-child {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -10px;
}
.twitter-ribbon .image-twitter-logo {
    background-position: -216px -24px;
}
.twitter-content {
    position: absolute;
    left: 60px;
    overflow: hidden;
    font-family: "PalatinoLTStd-Italic";
    font-size: 11.73pt;
    line-height: 30px;
    vertical-align: middle;
    color: rgb(51, 51, 51);
}
.twitter-markee span::after {
    content: "  |  ";
}
.twitter-markee {
   white-space: nowrap;
}
.markee-anim {
    -webkit-animation-name: markee;
    -moz-animation-name: markee;
    -webkit-animation-duration: 30s;
    -moz-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation-play-state:running;
    -moz-animation-play-state:running;
}
.markee-anim:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
}
@-webkit-keyframes markee {
    0%  {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(-100%);
        transform:translateX(-100%);
    }
}

@-moz-keyframes markee {
    0%  {
        -moz-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -moz-transform: translateX(-100%);
        transform:translateX(-100%);
    }
}
/* ----------------------------------------------------- */


@media (max-width: 350px) {

    .carousel-caption {
        width: 90%;
        left: 5%;
    }

    .footer-form-container {
        width: 100%;
    }

    .footer-contact-info-container {
        width: 100%;
        margin-top: 20px;
        padding-top: 20px;
        border-left: 0;
        border-top: 1px solid rgb(102, 102, 102);

    }
}

@media (max-width: 550px) {
    .services-img-container .col-sm-4.col-xs-4 {
        width: 100%;
        min-height: 400px;
    }
}

@media (max-width: 621px) {

    .psyco-pink-btn-caption
    {
        font-size: 11.73pt;
    }

    .download-photo
    {
        display: none;
        width: 0%;
    }

    .download-post-container
    {
        width: 100%;
    }

    .quality-seal-photo-wrapper{
        display: none;
    }

    .quality-seal-content {
        width: 100%;
    }

    .columns-2 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

}

@media (max-width: 654px){

    .footer-display > div {
        display: block;
        float: right;
    }

    .footer-display > div:first-child
    {
        width: 90%;
    }

    .promo-img-company-1
    {
        display: none;
    }

    .promo-img-company-2
    {
        display: none;
    }

    .promo-img-company-3
    {
        display: none;
    }

    .promo-img-counseling-1
    {
       display: none;
    }

    .promo-img-counseling-2
    {
        display: none;
    }
    .promo-img-counseling-3
    {
        display: none;
    }

    .promo-img-counseling-4
    {
        display: none;
    }
    .promo-img-counseling-5
    {
        display: none;
    }
    .promo-img-counseling-6
    {
        display: none;
    }

    .promo-img-counseling-7
    {
        display: none;
    }

    .promo-img-coaching-1
    {
        display: none;
    }

    .promo-img-coaching-2
    {
        display: none;
    }

    .promo-text-container
    {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {

    div .navbar-nav.right{
        width: 100%;
    }

    .frame-anim-caption {
        height: 40px;
    }
    .frame-anim-caption span {
        font-size: 18px;
        font-weight: lighter;
        line-height: 40px;
        vertical-align: middle;
        padding-left: 5px;
    }


    .booking-form .calendar {
        width: 100%;
        height: 100%;
        float: left;
    }

    .reserve-col-2 {
        width: 100%;
        float: left;
        height: 100%;
    }

    .custom-combo {
        width: 100%;
        margin-right: 0;
    }

    .schedules .input-group .custom-combo:first-child {
        width: 100%;
        float: left;
        margin-right: 0;
    }

    .schedules .input-group .custom-combo:last-child {
        width: 100%;
        float: right;
    }

    .about-header {
        display: block;
    }

    .contact-dialog-grals .btn-accept {
        width: 120px
    }

    .image.image-escucha-logo{
        margin-left: 0;
    }
    .carousel-caption-font
    {
        font-size: 14pt;
    }

    .carousel-caption-font-escucha
    {
        font-size: 15.5pt;
    }

    .my-btn-book
    {
        font-size: 13.2pt;
        width: 130px;
        height: 33px;
        padding: 3px 9px;
    }

    .carousel-indicators
    {
        left: 125%;
    }

    div .navbar-nav.right {
        margin: auto;
        right: 0;
    }

    .animation-caption {
        text-align: left;
        float: left;
        width: 95%;
        display: inline-block;
        padding-left: 5%;
        margin-top: 10px;
    }

    .contact-dialog-grals {
        width: 95%;
    }

    /*Booking list*/
    .booking-post-container
    {
        border-color: rgb(170,170,170);
        border-width: 1px;
        border-bottom-style: solid;
        background: rgb(255,255,255);
        width: 100%;
        float: left;
        /*margin-left: 15%;
        margin-right: 15%;*/
        min-height: 98px;
    }

    .booking-date-week-day
    {
        padding-bottom: 14%;
    }

    .booking-description-container
    {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .booking-price
    {
        padding-bottom: 26px;
    }

    .booking-btns
    {
        background: rgb(102,102,102);
        font-size: 12pt;
        height: 31px;
        width: 100px;
        padding-top: 3px;
    }

    .booking-btn-container
    {
        float: right;
        padding-top: 10px;
        width: 55.98%;
    }

    .booking-btns
    {
        font-size: 12pt;
        height: 31px;
        width: 100px;
    }

    .booking-btn-pink
    {
        background: rgb(218,36,115);
    }
}

@media (max-width: 845px) {

    .psyco-pink-btn-caption
    {
       font-size: 11.73pt;
    }
}

@media (max-width: 992px) {
    .calendar .input-group {
        padding-bottom: 15px;
    }
}

@media (max-width: 1023px) {
    .collapse-area-to-cover {
        width: 100%;
        min-height: 400px;
    }
}