{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles%} }

{% block page_title %}
    {% trans "Projects" %}
{% endblock page_title %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Stage" %}</th>
                <th style="width: 100px"></th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description|safe }}</td>
                    <td>
                        {{ project.project_stage.all.0.name }}
                    </td>
                    <td>
                        <div class="btn-group">
                             <a href="javascript:" onclick="update_project(this)" class="btn btn-default sign-btn" data-toggle="modal" data-target="#modalUpdateProject" data-url="{% url 'update_project' project.id %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="javascript:" onclick="delete_project_confirm(this)" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteProject" data-url="{% url 'delete_project' project.id %}" data-name="{{project.title}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                There are no projects created
            {% endfor %}
        </tbody>
    </table>
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modalCreateProject">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>{% csrf_token %}
    {% block modal_create_project %}
        <div class="modal fade" id="modalCreateProject" tabindex="-1"  role="dialog" aria-labelledby="modalCreateProject" aria-hidden="true">
            <div class="modal-dialog">
                <div class="alert alert-info" role="alert">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create Project</h4>
                    </div>
                    <div class="modal-body">

                         <form class="form-horizontal" action="{% url 'create_project' %}" method="post" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                             <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">Close</button>
                                <input type="submit" value="Submit" class="btn btn-sm btn-success" />
                             </div>
                         </form>

                    </div>

                </div>
            </div>
         </div>
    {% endblock modal_create_project%}
    {% block modal_update_project %}
        <div class="modal fade" id="modalUpdateProject" tabindex="-1" role="dialog" aria-labelledby="modalUpdateProject" aria-hidden="true">
            <div class="modal-dialog">
                <div class="alert alert-success" role="alert">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">{% trans "Update Project" %}</h4>
                    </div>
                    <div class="modal-body">
                       <div class="modal-footer">
                        <form id="update_project_form" class="form-horizontal" action="" method="post" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                             <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">Close</button>
                                <input type="submit" value="Submit" class="btn btn-sm btn-success" />
                             </div>
                         </form>
                       </div>
                    </div>

                </div>
            </div>
         </div>
    {% endblock modal_update_project%}
    {% block modal_delete_project %}
        <div class="modal fade" id="modalDeleteProject" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProject" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert alert-danger">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel3">Delete Project</h4>
                </div>
                <div class="modal-body">
                    <h4>{% trans "Esta seguro que desea eliminar el proyecto" %}: <span id="project_name"></span>?</h4>
                </div>
               <div class="modal-footer">                    
                    <button id="delete_project_ok" type="button" onclick="delete_project(this)" class="btn btn-sm btn-danger">Yes</button>
                    <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">Close</button>
               </div>
            </div>
            </div>
         </div>
    {% endblock modal_delete_project%}
{% endblock %}

{% block extra_js %}
    <script>
        function update_project (sender) {
            $.get($(sender).data('url'), {}, function(response){
                $('#update_project_form').replaceWith(response);
            });
        }

        function delete_project_confirm(sender){
            var $self = $(sender);
            $('#project_name').text($self.data('name'));
            $('#delete_project_ok').data('url', $self.data('url'));
        }

        function delete_project(sender){
            $.post($(sender).data('url'), {}, function(response){
                window.location = '/';
            });
        }
        
    </script>
{% endblock extra_js %}