{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block page_title %}
    {% trans "Taks" %}
{% endblock page_title %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Priority" %}</th>
                <th>{% trans "Title Project" %}</th>
                <th>{% trans "Developers" %}</th>
                <th>{% trans "Star Date" %}</th>
                <th>{% trans "End Date" %}</th>
                <th style="width: 100px"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name  }}</td>
                    <td>{{ task.description | safe }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.project.title }}</td>
                    <td>{{ task.assigned_to_developer.user.username }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.end_date }}</td>
                    <td>
                        <div class="btn-group">
                             <a href="javascript:" onclick="update_task(this)" class="btn btn-default sign-btn" data-toggle="modal" data-target="#modalUpdateTask" data-url="{% url 'update_task' task.id %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="javascript:" onclick="delete_task_confirm(this)" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteTask" data-url="{% url 'delete_task' task.id %}" data-name="{{task.name}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>

                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
      <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modalCreateTask">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>{% csrf_token %}
    {% block modal_create_task %}
        <div class="modal fade" id="modalCreateTask" tabindex="-1" role="dialog" aria-labelledby="modalCreateTask" aria-hidden="true">
            <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header alert alert-info">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel2"> {% trans "Create Task" %}</h4>
                    </div>
                    <div class="modal-body">

                         <form class="form-horizontal" action="{% url 'create_task' %}" method="post" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">Close</button>
                                <input type="submit" value="Submit" class="btn btn-sm btn-success" />
                            </div>
                         </form>
                    </div>

                </div>
            </div>
         </div>
     {% endblock modal_create_task%}
    {% block modal_update_task %}
        <div class="modal fade" id="modalUpdateTask" tabindex="-1" role="dialog" aria-labelledby="modalUpdateTask" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="modal-header alert alert-success">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel2"> {% trans "Update Task" %}</h4>
                    </div>
                    <div class="modal-body">

                        <form id="update_task_form" class="form-horizontal" action="" method="post" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                             <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">Close</button>
                                <input type="submit" value="Submit" class="btn btn-sm btn-success" />
                             </div>
                         </form>

                    </div>

                </div>
            </div>
         </div>
    {% endblock modal_update_task %}
    {% block modal_delete_task %}
        <div class="modal fade" id="modalDeleteTask" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTask" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert alert-danger">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel3">Delete Project</h4>
                </div>
                <div class="modal-body">
                    <h4>{% trans "Esta seguro que desea eliminar el proyecto" %}: <span id="task_name"></span>?</h4>
                </div>
               <div class="modal-footer">                    
                    <button id="delete_task_ok" type="button" onclick="delete_task(this)" class="btn btn-sm btn-danger">Yes</button>
                    <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">Close</button>
               </div>
            </div>
            </div>
         </div>
    {% endblock modal_delete_task%}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{MEDIA_URL}}/admin/js/core.js"></script>
    <script type="text/javascript" src="{% static 'js/RelatedObjectLookups.js' %}"></script>
    <script>

        function update_task (sender) {
            $.get($(sender).data('url'), {}, function(response){
                $('#update_task_form').replaceWith(response);
            });
        }

        function delete_task_confirm(sender){
            var $self = $(sender);
            $('#task_name').text($self.data('name'));
            $('#delete_task_ok').data('url', $self.data('url'));
        }

        function delete_task(sender){
            $.post($(sender).data('url'), {}, function(response){});
        }
        
    </script>
{% endblock extra_js %}